@charset 'UTF-8';

#contents {
	width: 800px;
	margin: 0 auto;

	section.default {
		overflow: hidden;
		margin-bottom: 200px;

		> h1 {
			width: 180px;
			float: left;
			margin: 0;
			padding: 0;
			text-align: right;
			text-transform: uppercase;
			font-size: $heading1-font-size;
			font-weight: normal;
			line-height: 1.3;
		}

		> div.contents {
			width: 360px;
			float: left;
			margin-left: 40px;

			> h2, p {
				margin: 0;
				padding: 0;
			}

			> h2 {
				margin-bottom: .30rem;
				font-size: $heading2-font-size;
				font-weight: normal;
				text-transform: uppercase;
				line-height: 1;

				&[lang="ja"] {
					text-indent: .10rem;
					font-size: $heading2-font-size-ja;
					letter-spacing: .35rem;
				}
			}
		}
	}
}

