@charset "UTF-8";

#contents section.company {
	.contents {
		> h2 {
			&[lang="ja"] {
			margin: 0;
			margin-bottom: 8rem;
			font-size: $read-font-size-ja;
			}
		}
		p.address {
			font-size: $read-font-size;
			margin-bottom: 1rem;

			&[lang="ja"] {
				font-size: $read-font-size-ja;
			}
		}
	}
}