@charset 'utf-8'

section.works {
	overflow: hidden;

	> h1 {
		width: 180px;
		float: left;
		text-align: right;
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: normal;
	}

	> h2, p {
		width: 580px;
		float: right;
	}

	> h2 {
		text-transform:  uppercase;
	}
}