@font-face {
	font-family: 'stellar';
	src: url('../fonts/stellar-bold.eot');
	src: url('../fonts/stellar-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stellar-bold.woff2') format('woff2'),
		 url('../fonts/stellar-bold.woff') format('woff'),
		 url('../fonts/stellar-bold.ttf') format('truetype'),
		 url('../fonts/stellar-bold.svg#stellarbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'stellar';
	src: url('../fonts/stellar-light.eot');
	src: url('../fonts/stellar-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stellar-light.woff2') format('woff2'),
		 url('../fonts/stellar-light.woff') format('woff'),
		 url('../fonts/stellar-light.ttf') format('truetype'),
		 url('../fonts/stellar-light.svg#stellarlight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'stellar';
	src: url('../fonts/stellar-medium.eot');
	src: url('../fonts/stellar-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stellar-medium.woff2') format('woff2'),
		 url('../fonts/stellar-medium.woff') format('woff'),
		 url('../fonts/stellar-medium.ttf') format('truetype'),
		 url('../fonts/stellar-medium.svg#stellarmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'stellar';
	src: url('../fonts/stellar-regular.eot');
	src: url('../fonts/stellar-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/stellar-regular.woff2') format('woff2'),
		 url('../fonts/stellar-regular.woff') format('woff'),
		 url('../fonts/stellar-regular.ttf') format('truetype'),
		 url('../fonts/stellar-regular.svg#stellarregular') format('svg');
	font-weight: 400;
	font-style: normal;
}