@charset 'UTF-8';

// defined colors
$black: #000;
$white: #fff;
$gray-light: #c8c8c8;
$gray: #838383;
$gray-dark: #282828;


// default colors
$background-color: $white !default;
$text-color: $black !default;
$text-light-color: $gray !default;


// font-size
$base-font-size: 62.5% !default;
// $base-font-size: 125% !default;
$base-font-family: stellar, Helvetica, Arial, sans-serif !default;
$read-font-size: 1.8rem;
$read-font-size-ja: 1.2rem;