@charset 'utf-8';

@import 'normalize';
@import 'font';

body {
	font-family: 'stellar';
	font-size: 14px;
}

p {
	font-size: 40px;
	margin: 0;
	padding: 0;
}
.p1 {
	font-weight: 200;
}
.p2 {
	font-weight: 400;
}
.p3 {
	font-weight: 500;
}
.p4 {
	font-weight: 700;
}