@charset 'utf-8';

@import 'normalize';
@import 'font';
@import 'variables';
// @import 'theme-white';
@import 'theme-black';
@import 'contents';
@import 'contents-wamw';
@import 'contents-mission';
@import 'contents-works';
@import 'contents-company';
@import 'contents-contact';
@import 'animation';


html {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $text-color;
}
*[lang="ja"] {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
body {
	background-color: $background-color;
}



#cover {
	transition: all ($screen-trans-duration + 0.2s) $easeInOutCubic;
	width: 100%;
	height: 100%;
	background: $black;
	position: fixed;
	left: 0px;
	top: 0px;
	border-radius: 10000px;
	// filter: blur(100px);
	opacity: .5;
	zoom: 3;
}
html.show {
	#cover {
		background: $white;
	}
}