@charset 'utf-8';

@import 'normalize';
@import 'font';
@import 'variables';
// @import 'theme-white';
@import 'theme-black';
@import 'contents';
@import 'contents-wamw';
@import 'contents-mission';
@import 'contents-works';
@import 'contents-company';
@import 'contents-contact';
@import 'animation';


html {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $text-color;
}
*[lang="ja"] {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
body {
	background-color: $background-color;
}