<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partials/html-head', { title: 'index.html - title' }) %>
</head>
<body>
	<section>
<%- include('partials/content-header') %>
	
		<section>
			<h1>機能一覧</h1>
			<ul>
				<li>sourceディレクトリとdistディレクトリの分離による、必要最低限の納品ファイル</li>
				<li>browserSyncによる自動リロード・デバイス間操作共有</li>
				<li>ファイル変更を監視して再ビルドするwatch</li>
				<li>ejsによるHTMLテンプレート</li>
				<li>sass, scssのビルド</li>
				<li>cssのminifyによる最小化</li>
				<li>css autoprefixerによるベンダープレフィックスの付与</li>
				<li>css combによるプロパティ順序のソート</li>
				<li>coffeescriptのビルド</li>
				<li>webpackによるJSビルド</li>
				<li>Reactjsのビルドサポート</li>
				<li>--releaseオプションでminify切り替え</li>
			</ul>
		</section>
		<section>
			<h1>ディレクトリ構造</h1>
		</section>
	</section>
</body>
</html>
